@import url(./__nav-item/nav__nav-item.css);
@import url(./__nav-link/nav__nav-link.css);
@import url(./__nav-list/nav__nav-list.css);
@import url(./__button/nav__button.css);
@import url(./__wrapper/nav__wrapper.css);

.nav {
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: rgba(0,0,0, 0.9);
        left: 0;
        top: 100px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        z-index: 6;
    }
}
