<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KornilovStudio</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="container header__container">
                <div class="logo">Kornilov Studion</div>
                <nav class="nav">
                    <ul class="nav__nav-list">
                        <li class="nav__nav-item">
                            <a class="nav__nav-link href="../about/about.html" target="_self">Портфолио</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link href="../price/price.html" target="_self">Услуги и цены</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link href="../about/about.html" target="_self">Команда</a>
                        </li>
                    </ul>
                </nav>
                <button type="text" class="nav__button">Связаться</button>
            </div>
        </header>

        <section class="intro">
            <p class="cover-heading">Kornilov<br />Studio</p>
            <h1 class="cover-heading__subscript">Cвадебная<br /> фото и видеосъемка</h1>
        </section>
        <!--  VIDEO BACKGROUND    -->
        <div class="fullscreen-bg">
            <div class="overlay">

            </div>

            <video loop="true" muted="" autoplay="true" class="fullscreen-bg__video">
<!--                poster="video/plane.jpg"-->
                <source src="<%=require('../../img/video/Wedding-intro-small.mp4').default%>" type="video/mp4">
<!--                <source src="video/plane.webm" type="video/webm">-->
            </video>
        </div>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>