.nav__wrapper-l {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav__wrapper-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}