@import url(./_type/logo_type_sign.css);
@import url(./_type/logo_type_mobile.css);

.logo {
    display: block;
    color: #fff;
    margin-right: 40px;
    z-index: 6;
}

@media screen and (max-width:1200px) {
    .logo {
        display: none;
    }
}

/*@media screen and (max-width: 900px) {*/
/*    .logo{*/
/*        display: none;*/
/*    }*/
/*}*/