@import url(./__img/intro__img.css);
@import url(./__img/_arr/intro__img_arr.css);

.intro {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: auto;
    z-index: 5;
}

@media screen and (max-width: 468px) {
    .intro{
        max-width: 420px;
    }
}

@media screen and (max-width: 414px) {
    .intro{
        max-width: 380px;
    }
}


@media screen and (max-width: 320px) {
    .intro{
        max-width: 300px;
    }
}
