<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KornilovStudio</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <div class="root">
        <header class="header root__section">
            <h1>Header</h1>
        </header>
        <a class="mc" href="./about.html" target="_self">Обо мне</a>
        <a class="mc" href="./price.html" target="_self">Price</a>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>