.logo_type_mobile {
    display: none;
    color: #fff;
    padding-top: 20px;
    z-index: 5;
}

@media screen and (max-width: 1200px) {
    .logo_type_mobile {
        display: block;
        margin-right: 60px;
    }
}

@media screen and (max-width: 900px) {
    .logo_type_mobile  {
        margin-right: 40px;
    }
}